{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endfor %}
            {% endif %}

            <div class="card shadow-lg border-0">
                <div class="card-header bg-warning text-dark text-center py-4">
                    <h3><i class="fas fa-bell"></i>Підписка на повідомлення</h3>
                    <p class="mb-0">Отримуйте SMS или Email при при загрозі</p>
                </div>
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label fw-bold">Ваш Регіон</label>
                            {{ form.region }}
                            <div class="form-text text-muted">Напишіть місто, або село ди проживаєте для отримання сповіщень про тривогу</div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Телефон</label>
                                {{ form.phone }}
                            </div>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-dark btn-lg">Підписатись</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}